*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
}

/* utlity */


/* utlity */

.navbar_fixed{
  width: 100%;
  height: 80px;
  background-color: #ededed;
  border-bottom: 1px solid black;
}
.menubar_top{
  width: 100%;
  height: 80px;
}
.hero_img{
  height: 613px;
  background-color: #ededed;
}
.green_small{
  width: 100%;
  height: 80px;
  background-color: #afebe4;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
