*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  width: 1500px;
  margin: auto;
  background-color: #f4f9fd;
}

/* utlity */

.fl{
  float: left;
}
.fr{
  float: right;
}
.btn{
  color: white;
  background-color: #fe775a;
  border-radius: 5px;
  padding: 5px 10px;
}
.btn_speciale{
  color: #fe775a;
  border: 1px solid #fe775a;
  border-radius: 5px;
}

.col_3{
  float: left;
  width: 30.50%;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: white;
  border: 3px solid Lightgrey;
  border-radius: 5px;
}

.box, .col_4{
  float: left;
  width: 25%;
  text-align: center;
}
/* :after{
  content: "";
  display: table;
  clear: both;
} */

/* utlity */

/* inizio header */
.navbar_fixed{
  width: 1500px;
  /* height: 80px;
  background-color: #ededed; */
  border-bottom: 1px solid black;
  content: "";
  display: table;
  clear: both;
}
.top_container{
  width: 1200px;
  margin: auto;
}
.top_sinistra{
  float: left;
  width: 70%;
  line-height: 80px;
}
.top_sinistra a{
  font-size: 17px;
  padding-right: 2px;
  text-decoration: none;
  color: #544788;
}
.top_destra{
  float: left;
  width: 30%;
  text-align: right;
  line-height: 80px;
  color: #544788;
}
.top_destra a{
  font-size: 17px;
  padding: 10px;
  text-decoration: none;
  margin-left: 25px;
}
#search_logo{
  color: #00a4bd;
}
#stanghetta{
  margin-left: 20px;
  margin-right: 20px;
  border-right: 1px solid black;
}
.container{
  width: 1500px;
}
.menubar_top{
  width: 80%;
  /* height: 80px; */
  margin: auto;
  content: "";
  display: table;
  clear: both;
}
#logo_hub{
  float: left;
  width: 50%;
  height: 80px;
  position: relative;
  top: 25px;
  background-image: url(img/logo_hub.svg);
  background-repeat: no-repeat;
}
.links_menu{
  float: left;
  width: 50%;
  line-height: 80px;
  text-align: right;
}
.links_menu div{
  display: inline-block;
}
.links_menu a{
  color: black;
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
}
.hero_img{
  width: 1500px;
  height: 613px;
  background-color: #fff2ee;
  margin: auto;
  content: "";
  display: table;
  clear: both;
  background-image: url(img/jumbotron.png);
  background-repeat: no-repeat;
  background-position: 150% 0%;
}
.immagine_header{
  width: 1200px;
  margin: auto;
}
.text_header{
  width: 600px;
  height: 613px;
  position: relative;
}
.text_header h1{
  font-size: 50px;
  font-weight: 700;
  padding-top: 50px;
  padding-bottom: 50px;
}
.text_header p{
  font-size: 18px;
  line-height: 25px;
  padding-bottom: 50px;
}
.grande{
  padding: 30px;
  text-decoration: none;
  text-align: center;
  margin: 15px;
}
.text_header p:last-child{
  padding-top: 70px;
  font-size: 15px;
}
.green_small{
  width: 1500px;
  height: 80px;
  margin: auto;
  background-color: #afebe4;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
/* fine header */

/* inizio testata main */
.testata_main{
  width: 1200px;
  margin: auto;
  content: "";
  display: table;
  clear: both;
}
.img_cubo{
  width: 210px;
  height: 200px;
  background-size: cover;
  background-image: url(img/cubo.svg);
  margin: auto;
  background-repeat: no-repeat;
  margin-top: 30px;
}
.top_main{
  width: 63%;
  margin: auto;
}
.top_main h2{
  font-size: 35px;
  text-align: center;
  margin: auto;
  padding: 30px;
}
.top_main p{
  text-align: center;
  line-height: 25px;
  padding-bottom: 50px;
}
.learn_more{
  width: 80%;
  height: 300px;
  margin: auto;
  background-color: white;
  border: 3px solid Lightgrey;
  border-radius: 5px;
}
.left_learn_more{
  float: left;
  width: 30%;
  margin: auto;
  content: "";
  display: table;
  clear: both;
  position: relative;
}
.img_libro{
  width: 150px;
  height: 110px;
  background-size: cover;
  background-image: url(img/libro.svg);
  margin: auto;
  margin-top: 50px;
  margin-bottom: 30px;
}
.piccolo{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.piccolo a{
  color: white;
  text-decoration: none;
}
.right_learn_more{
  float: left;
  width: 70%;
}
.right_learn_more h2{
  font-size: 35px;
  margin: auto;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}
.right_learn_more p{
  line-height: 25px;
  padding-right: 70px;
  padding-bottom: 50px;
}
.right_learn_more h3{
  text-transform: uppercase;
  display: inline-block;
  padding-right: 30px;
  padding-bottom: 20px;
}
.right_learn_more hr{
  display: inline-block;
  width: 300px;
  position: relative;
  bottom: 5px;
}
.spunte span, .spunte i{
  padding-right: 20px;
}
.spunte i{
  color: #fe775a
}
.row{
  width: 80%;
  margin: auto;
}
.col_sinistra{
  margin-right: 20px;
}
.img{
  margin: auto;
  margin-top: 30px;
  margin-bottom: 20px;
}
.imbuto{
  width: 70px;
  height: 100px;
  background-image: url(img/imbuto.svg);
  background-repeat: no-repeat;
}
.strumenti{
  width: 120px;
  height: 100px;
  background-image: url(img/strumenti.svg);
  background-repeat: no-repeat;
}
.social{
  width: 90px;
  height: 100px;
  background-image: url(img/social.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.col_sinistra h3, .col_centro h3, .col_destra h3{
  font-size: 25px;
  text-align: center;
}
.col_sinistra p, .col_centro p, .col_destra p{
  padding: 16px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 20px;
}
.col_sinistra hr, .col_centro hr, .col_destra hr{
  width: 250px;
  margin: auto;
  margin-bottom: 20px;
}
.col_sinistra h4, .col_centro h4, .col_destra h4{
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 25px;
}
.spunte i{
  margin-left: 15px;
}
.medio{
  margin: 70px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.medio a{
  color: white;
  text-decoration: none;
}
.col_centro{
  margin-right: 20px;
  margin-left: 20px;
}
.col_destra{
  margin-left: 20px;
}
/* fine testata_main */

/* inizio corpo main */
.corpo_main{
  width: 1500px;
  margin: auto;
  background-image: linear-gradient(to right, #00a9b8 0%, #00bba7 100%);
  content: "";
  display: table;
  clear: both;
}
.container_margin{
  width: 1200px;
  margin: auto;
}
.container_margin h2{
  color: white;
  text-align: center;
  font-weight: 900;
  font-size: 25px;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.container_margin p{
  color: white;
  font-weight: 700;
  text-align: center;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 25px;
}
.row_1, .row_2{
  width: 1000px;
  margin: auto;
  margin-top: 50px;
}

.logo i{
  padding-top: 15px;
  font-size: 30px;
  color: white;
}
.numero{
  color: white;
  font-size: 50px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
}
.paroline{
  color: white;
  font-size: 13px;
  padding-bottom: 30px;
}
/* inizio box */
.tl{
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}
.tmiddle{
  border-right: 1px solid white;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
}
.tr{
  border-left: 1px solid white;
  border-bottom: 1px solid white;
}
.btl{
  border-right: 1px solid white;
  border-left: 1px solid white;
  border-top: 1px solid white;
}
.bmiddle{
  border-right: 1px solid white;
  border-left: 1px solid white;
}
.br{
  border-left: 1px solid white;
  border-top: 1px solid white;
}
/* fine box */
